.header {
  height: 60px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  position: sticky;
  top: 0;
  z-index: 30;
}

.menu-btn {
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px;
  display: none;
}

.logout-btn {
  background: #dc2626;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 600;
}
.logout-btn:hover {
  background: #b91c1c;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }
}
