.app-layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  background: #f3f4f6;
}

main {
  padding: 20px;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 10;
}

/* DESKTOP */
@media (min-width: 768px) {
  .overlay {
    display: none;
  }
}
